<div>
    <h1>Homepage</h1>
    <div>
        <ul class="product-container">
            {{#each products}}
                <li class="product-card">
                    <h2>{{this.title}}</h2>
                    <h3>${{this.price}}</h3>
                </li>
            {{/each}}
        </ul>
        <ul class="pages">
            {{#each links}}
                <a href={{this.link}}>
                    <li>{{this.i}}</li>
                </a>
            {{/each}}
        </ul>
    </div>

    {{#with user}}
        <h2>{{username}}</h2>
        {{#if isAdmin}}
            <h3>Permiso de administrador</h3>
        {{else}}
            <h3>No tienes permisos de administrador</h3>
        {{/if}}
    {{/with}}
</div>